@import '~antd/lib/style/themes/default.less';
ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin-bottom: 16px;
  color: @heading-color;
  font-weight: 500;
  font-size: 16px;
}

.groupName {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
}

.main {
  padding: 10px;
}

.score {
  li {
    padding: 5px;
    color: red;
  }
}

.img {
  height: 200px;
}
