@import '../../../../node_modules/antd/lib/style/themes/default.less';
ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin-bottom: 16px;
  color: @heading-color;
  font-weight: 500;
  font-size: 16px;
}

.mainNav {
  padding: 20px;
}

.name {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
}

.groupName {
  padding: 10px 0;
  color: red;
}
